################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AntWork/AntWork/bin
/AntWork/packages
/AntWork/Entity/Properties
/AntWork/Entity/bin
/AntWork/Entity/obj
