@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: local('Squada One'), local('SquadaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/squadaone/v2/DIbfqh10Zkwc_Qd08Y0saRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}